@import url(./reset.css);



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.btn_changers{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.btn{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.3em;
    padding: 15px 20px;
    background-color: #faf;
    border: 1px solid black;
    margin-bottom: 20px;
}




